<html>
<head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" >
<script src="https://cdn.stormpath.io/widget/0.x/stormpath.min.js" >
</script>
<script src="stuff.js" >
</script>
</head>

<body>
  
<div>

<!--button onclick="stormpath.showLogin()">
  strom login
</button-->

<span>
  {{user.email }}
</span>

<button onclick="test()">
  test
</button>

</div>

<div>
  <span id='name'>name</span>
    <span id='score' >score</span>
</div>

<iframe id="trackers" src="">
	
</iframe>


</body>

</html>